
<%- include('./includes/head') %>
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="/css/forms.css">
</head>

<body>
<%- include('./includes/navigation') %>

<main>
    <ul>


    <% if(users.length > 0) {
       for( let user of users) { %>
    <li> <%= user.name %></li>


    <% } } else { %>
    </ul>
done
    <% }  %>

</main>


<%- include('./includes/end') %>